
.ContactSection{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: fit-content;
  width: 70vw;
  margin-bottom: 10vh;
}

.ContactImgContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.ContactImg{
  width: 650px;
  height: 650px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ContactText{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-weight: 300;
  line-height: 27px;
}


.ContactTextTitle h3{
  font-size: 2.5rem;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 50px;
}

.ContactTextDescription{
  font-size: 20px;
  width: 400px;
}

.ContactTextDescription b{
  font-weight: 500;
}

.ContactTextDescription p{
  margin-top: 30px;
}

.ContactButton{
  width: 300px;
  margin-top: 5vh;
  background-color: #662483;
  color: white;
  padding: 15px;
  border-radius: 25px;
  font-size: 30px;
  border: none;
}

.ContactButton:hover{
  background-color: #470F4C;
}

.ContactButton:active{
  background-color: #795688;
}