.ContactButton{
  width: 80%;
  margin-top: 5vh;
  background-color: #662483;
  color: white;
  padding: 2%;
  border-radius: 25px
}

.ContactButton:hover{
  background-color: #470F4C;
}

.ContactButton:active{
  background-color: #795688;
}