header{
  display: flex;
  font-family: 'Ubuntu', sans-serif;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  width: 100%;
  color: white;
}

.particles-bg-canvas-self{
  background: #662483;
  }

.headerTitleContainer{
  width: 1200px;
  height: 500px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerTitleContainer h2{
  font-size: 20rem;
}

.headerTitleContainer h2 span{
  color: #00B380;
}

.headerTextContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: fit-content;
  text-align: center;
  font-size: 22px;
}

.headerTextTop{
  width: 100%;
  font-weight: 300;
  text-align: center;
  margin-bottom: 10px;
}

.headerTextTop b{
  font-weight: 400;
  font-size: 24px;
}

.headerTextTop p{
  margin: 0;
}

.headerTextBot{
  /*width: 900px; */
  font-weight: 300;
  color: white;
}

.headerSpace{
  height: 10%;
}

.containerPara {
  display: flex;
  justify-content: center;
  width: 600px;
  height: 40px;
  font-size: 24px;
  line-height: 40px;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  overflow: hidden;

}

.containerPara ul {
  list-style: none;
  /*padding-left: 1px; */
  animation: cambio 7s infinite;
}
.li1 {
  padding-left: 1px; 
}

.containerPara ul, p {
  margin: 0,
}
.containerPara b{
  font-weight: 400;
  font-size: 24px;
}

@keyframes cambio {

  0%{ margin-top: 0; }
  10%{ margin-top: 0; }

  20% { margin-top: -40px;}
  30% { margin-top: -40px;}

  40% { margin-top: -80px;}
  50% { margin-top: -80px;}

  60% { margin-top: -120px;}
  70% { margin-top: -120px;}

  80% { margin-top: -40px;}
  90% { margin-top: -40px;}

  100% { margin-top: 0;}

}
