.navBarIcon {
  background-image: url(../../../public/images/iso.svg);
  background-position: center;
  background-size: 180%;
  background-repeat: no-repeat;
  width: 40%;
  height: 90%;
  animation-name: appear;
  animation-duration: 1s;
}

.divisor {
  height: 10vh;
}

.none {
  display: none;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
